<div class="container col-4">
  <h1 class="text-center">Booking for <%= @pokemon.name.capitalize %></h1>
  <%= simple_form_for [@pokemon, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Back", pokemon_path(@pokemon), class: "btn btn-link"  %>
</div>