<div class="container col-4">
  <h1 class="text-center">Add your Pokemon</h1>
  <%= simple_form_for(@pokemon) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.submit %>
  <% end %>
</div>