<div class="container col-4">
  <h1 class="text-center">Add your Pokemon</h1>
  <%= simple_form_for(@pokemon) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
    <%= f.input :tag_list, as: :check_boxes, collection: Pokemon::CATEGORIES %>
    <%= f.submit %>
  <% end %>
</div>