<div class="container col-6">
  <h1>Edit your review</h1>
  <p>You battled with <%= @review.booking.pokemon.name.capitalize %> from <%= @review.booking.start_date %> to <%= @review.booking.end_date %>, please tell use about your experience.</p>
  <%= simple_form_for @review do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>
