<h1>Review your booking</h1>
<p>You battled with <%= @booking.pokemon.name.capitalize %> from <%= @booking.start_date %> to <%= @booking.end_date %>, please tell use about your experience.</p>
<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
